* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
body {
  margin: 0px;
  padding: 0px;
  background-image: url('../img/wallpaper.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.head {
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.8);
  margin-bottom: 25px;
}

.in_head {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  min-height: 100px;
}

.in_head a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(169, 169, 169, 1);
  transition: all .9s ease;
}

.in_head a:hover {
  color: rgba(255,255,255,1);
  text-shadow: grey 1px 1px, grey 1px 1px, grey -1px -1px, grey -1px -1px;
  transform: scale(1.1);
}


.box_img_logo img {
  height: 100px;
}

/* page */

.page {
  min-height: 100vh;
}

.in_page {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

/* INDEX */

.in_section {
  text-decoration: none;
}

.in_section section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  filter: opacity(0.6);
  height: 150px;
  margin: 50px auto;
  width: 100%;
  overflow: hidden;
  border: 2px solid DarkGray;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(169, 169, 169, 0);
  transition: all .9s ease;
}

.in_section section:hover {
  color: rgba(255,255,255,1);
  box-shadow: 0px 0px 5px 5px rgba(169, 169, 169, 0.5);
  filter: opacity(1);
  text-shadow: grey 1px 1px, grey 1px 1px, grey -1px -1px, grey -1px -1px;
}

.in_section_div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 60%;
  background-image: url('../img/wallpaper.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  border-radius: 10px;
  border: 2px solid DarkGray;
}


/* FOOTER */


.footer {
  background-color: rgba(0, 0, 0, 0.7);
}

.in_footer {
  min-height: 100px;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.box_footer {
  height: 200px;
  width: 150px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.in_box_footer {
  height: 150px;
  width: 150px;
}

.in_box_footer a {
  height: 150px;
  width: 150px;
  border-radius: 25%;
  position: absolute;
}

.in_box_footer img {
  height: 150px;
  width: 150px;
  border-radius: 25%;
}

.text_box_footer p {
  height: 50px;
  width: 150px;
}

.box_footer {
  color: rgba(0, 0, 0, 0);
}

.box_footer:hover {
  color: rgba(169, 169, 169, 1);
  text-shadow: grey 1px 1px, grey 1px 1px, grey -1px -1px, grey -1px -1px;
  transition: all .9s ease;
  transform: scale(1.05);
}

.box_footer:active {
  color: rgba(255, 255, 255, 1);
  transition: all .9s ease;
}

.in_in_footer {
  border-top: 2px solid DarkGray;
  width: 100%;
  text-transform: uppercase;
  color: rgba(169, 169, 169, 1);
  transition: all .9s ease;
  height: 150px;
  text-align: center;
}


/* NEWS */

/* categories */

.categories {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.categories a {
  text-transform: uppercase;
  color: rgba(169, 169, 169, 1);
  transition: all .9s ease;
}

.categories a:hover {
  color: rgba(255,255,255,1);
  text-shadow: grey 1px 1px, grey 1px 1px, grey -1px -1px, grey -1px -1px;
  transform: scale(1.1);
}

.box_news_img {
  height: 200px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid DarkGray;

}

.box_news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  filter: opacity(0.8);
  text-transform: uppercase;
  color: rgba(169, 169, 169, 0.8);
  transition: all .9s ease;
  text-decoration: none;
  margin: 20px auto;
}

.box_news:hover {
  filter: opacity(1);
  text-shadow: grey 1px 1px, grey 1px 1px, grey -1px -1px, grey -1px -1px;
  color: rgba(255,255,255,1);
  transform: scale(1.05);
s}

.box_news_text {
  height: 200px;
  width: 500px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  border: 2px solid DarkGray;
}

.box_news_text_title {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}

.box_news_text_content {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  font-size: 12px;
}

.box_news_text_data_category {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}


/* AUTO */


.box_brand {
  text-align: center;
  height: 200px;
  width: 150px;
  color: rgba(0, 0, 0, 0);
  filter: opacity(0.8);
  margin: 20px 10px;
}

.box_brand:hover {
  color: rgba(255,255,255,1);
  text-shadow: grey 1px 1px, grey 1px 1px, grey -1px -1px, grey -1px -1px;
  transform: scale(1.3);
  transition: all .9s ease;
  filter: opacity(1);
}


.in_box_brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  width: 150px;
}

.text_box_brand {
  height: 50px;
  width: 150px;
}

.text_box_brand p {
  font-size: 22px;
}

.in_box_brand img {
  width: 80%;
  margin: 0 auto;
}

.in_box_brand a {
  height: 150px;
  width: 150px;
  position: absolute;
}
